<section id="content" class="py-5">
  <div class="container">
    <h1 class="text-center text-uppercase white-text font-weight-bold text-shadow mb-4">promoções exclusivas clube condor</h1>
    <p class="lead white-text w-75 mx-auto text-center b-04 text-shadow mb-4">
      Cliente Clube Condor tem muito mais vantagens e descontos, além de promoções exclusivas. Confira abaixo algumas campanhas que preparamos para você.
    </p>
    <div class="row row-ios">
      <div class="col-md-4 mb-5" *ngFor="let c of cards; let a = index">
        <app-cards [id] = "a"></app-cards>
      </div>
    </div>
  </div>
</section>