<div *ngIf="card">
  <div class="card mb-2 view overlay">
    <div class="card-header py-1">
      <p class="mb-0 text-center f-08">Promoção 
        <span [hidden]="card.data_fin < today">válida até {{card.data_fin | date: 'dd/MM/yyyy' }}.</span>
        <span [hidden]="card.data_fin >= today">encerrada.</span>
      </p>
    </div>
    <img class="card-img-bottom" [src]="card.image" alt="Card image cap" [ngClass]="{'past': card.data_fin < today}">
    <a href="{{card.url}}" target="_blank">
      <div class="mask waves-effect waves-light rgba-black-strong flex-center">
        <h3 class="text-uppercase white-text b-09 text-center">{{card.name}}</h3>
      </div>
    </a>
  </div>
  <div class="text-center">
    <a mdbBtn href="{{card.url}}" target="_blank"  class="rounded-pill white-text b-0 " 
    [ngClass]="{
      'condor-red-past-gradient': card.data_fin < today,
      'condor-red-gradient': card.data_fin >= today
    }">
      <span class="text-shadow" [hidden]="card.data_fin >= today">ver resultado</span>
      <span class="text-shadow" [hidden]="card.data_fin < today">ver promoção</span>
    </a>
  </div>
</div>
