<footer id="footer" class="bg-last py-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text-center white-text">
          Para inormações, entre em contato com o SAC do Condor, pelo telefone 
          <span class="b-07">0800 416655</span> 
          ou e-mail 
          <span class="b-07">sac@condor.com.br</span> 
        </div>
      </div>
    </div>
  </div>
</footer>