@import "_vars.scss";


// Background
.bg-init {  background: $color-init; } 
.bg-last {  background: $color-last; } 
.bg-img{
  background: url('./assets/images/header_fx.png') no-repeat;
  background-size: cover;
  background-position: center top;
}
body {
  background: rgb(54,66,140);
  background: linear-gradient(180deg, rgba(54,66,140,1) 4%, rgba(78,213,216,1) 56%, rgba(242,249,255,1) 96%);
  background-size: cover;
  background-attachment: fixed;
}

// Text-decore
.text-shadow { text-shadow: 2px 2px 2px rgb(114, 114, 114); }
.text-init { color: $color-box; } 
.text-last { color: $color-last; }

// Text-Size
.f-05 { font-size: .5rem!important;}
.f-06 { font-size: .6rem!important;}
.f-07 { font-size: .7rem!important;}
.f-08 { font-size: .8rem!important;}
.f-09 { font-size: .9rem!important;}

// Text-bold
.b-03 { font-weight: 300!important;}
.b-04 { font-weight: 400!important;}
.b-05 { font-weight: 500!important;}
.b-06 { font-weight: 600!important;}
.b-07 { font-weight: 700!important;}
.b-08 { font-weight: 800!important;}
.b-09 { font-weight: 900!important;}
.b-b { font-weight: bold!important;}

.row-ios{ 
  display: -webkit-box;
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-flex-wrap: wrap; 
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap; 
}

// Buttom Gradient
.condor-gradient {
  background: linear-gradient(180deg, $color-last, #1e8adf ) !important;
}

.condor-red-past-gradient {
  background: linear-gradient(180deg, $color-last, #ff9595 ) !important;
}

.condor-red-gradient {
  background: linear-gradient(180deg, $color-last, #fdd785 ) !important;
}

.parallax-gradient {
  background: linear-gradient(180deg, #ff9240, #ffc345 ) !important;
}
