<header id="header" class="bg-img">
  <div class="container pt-4">
    <div class="row justify-content-center">
      <div class="col-md-7">
          <img src="./assets/images/logo_clube.png" class="img-fluid" alt="">
      </div>
    </div>
    <div class="text-center">
        <a mdbBtn href="https://www.condor.com.br/clubecondor" 
          target="_blank"
          gradient="parallax" 
          class="rounded-pill">
          <h5 class="b-05 text-shadow white-text px-3 mb-0">Clique aqui e faça seu cadastro</h5> 
        </a>
    </div>
  </div>
</header>